.tick > line {
   fill: none;
   stroke: black;
}

.tick > text {
   fill: black;
}

.dataPath {
   opacity: .1;
   stroke: steelblue;
   stroke-width: 2;
   fill:none;
}

.dataPath:hover {
   opacity: 1;
   stroke-width: 2;
   stroke: red;
}

.unselectedByMap {
  fill-opacity: 0.0;
  opacity: .001;
  stroke: grey;
  stroke-width: 1;
}
.unselectedByLine {
  fill-opacity: 0.0;
  opacity: .001;
  stroke: grey;
  stroke-width: 1;
}
.selectedState {
}

.extent {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
}

.start {
	border:1px solid black;
	padding:300px;
	cursor:pointer;
}

svg {
	border:1px solid black;
}

.us {
	fill:none;
	stroke:hsl(120,100%,5%);
	stroke-width:.3px;
}

.state {
	fill:none;
	stroke:hsl(120,50%, 30%);
}

.county {
	stroke:hsl(120,0%, 30%);
	stroke-width:0.3px;
}

.county:hover {
	fill:steelblue;
}

.active {
	fill:orange;
}

rect:hover {
	fill:red;
}

rect:active {
	fill:orange;
}

#county_search {
	width:300px;
	margin:100px 20px;
}

